# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
        - main
        - issue-*
  pull_request:
    branches:
        - main
        - issue-*
permissions:
  statuses: write
  checks: write
  contents: write
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x,22.x,24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    - name: Run Tests
      run: npm test
    
    - name: Test Report
      uses: dorny/test-reporter@v2
      if: success() || failure()
      with:
          name: Test Results        
          path: ${{ github.workspace }}/reports/test-results.json
          reporter: 'mocha-json'